.titled {
	display: flex;
	flex-direction: column;

	justify-content: flex-end;
	align-items: flex-start;

	gap: 0.5rem;

	max-width: 450px;

	font-family: var(--main-font);

	& h3 {
		margin-bottom: 0.5rem;
	}

	& h5 {
		margin-bottom: 2.5rem;

		color: var(--secondary-color);
	}

	& span {
		color: var(--sub_text-color);
	}
}
