.logo_container {
	display: flex;
	gap: 0.2rem;

	& .logo {
		height: 3.5rem;
	}

	& > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& .text {
			font-size: small;

			&:first-child {
				font-size: medium;
			}

			color: var(--primary-color);
			font-family: var(--secondary-font);
			font-weight: 600;
		}
	}
}
